.header{
    display: flex;
    align-items: center;
    background-color: #2B4885;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 50px;
}

.header .title-group{
    color: white;
    padding-left: 25px;
    font-size: 1rem;
}

.header .title-group i {
    padding-right: 5px;
}




/* cor azul #2B4885 cor dourado #9E833C*/
