.footer{
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

}

.footer span{
    font-weight: 300;
    font-size: 1.1rem;
}




/* cor azul #2B4885 cor dourado #9E833C*/