.sidenav{
    background-color: gainsboro;
    width: 200px;
}
.sidenav a {
    color: #9E833C;
}

.sidenav i{
    padding-right: 10px;
    vertical-align: bottom;
}

.content{
    padding: 16px;
    background-color: #fff;
}

/* cor azul #2B4885 cor dourado #9E833C*/