/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gold{
    color: #9E833C;
    text-decoration: none;
}

.v-mid{
    vertical-align: middle;

}

/* cor azul #2B4885 cor dourado #9E833C*/